<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    
    <!-- Correct Import for Material Symbols Outlined -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap">
    
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    
    <div class="header">
        <h1 class="dancing-script-logo">Sayitoff</h1>
        
        <div class="searchbar">
            <!-- Correct usage of search icon -->
            <input class="search" type="text" placeholder="Search">
            <div class="material-symbols-outlined" id="searchicon">search</div>
        </div>
        
        <div class="profile">
            <span class="material-symbols-outlined" id="profileicon">
                account_circle
            </span>
        </div>
        
        <div class="createpost">
            <!-- Correct usage of add icon -->
            <div class="material-symbols-outlined">add</div>
            <a href="http://localhost:8080/quora/new">Post</a>
        </div>
    </div>

    <div class="content">
        <div class="navbar">
            <div type="button" class="explore navele">
                <span class="material-symbols-outlined" id="explore">
                    explore
                </span>
                <p>explore</p>
            </div>
            <div type="button" class="trending navele">
                <span class="material-symbols-outlined" id="trending">
                    local_fire_department
                </span>
                <p>trending</p>
            </div> 
            <div type="button" class="suggestions navele" id="suggestions">  
                <span class="material-symbols-outlined">
                    for_you
                </span>
                <p>for you</p>
            </div>  
            <div type="button" class="settings navele" id="settings">
                <span class="material-symbols-outlined">
                    settings
                </span>
                <p>settings</p>
            </div>
            <div type="button" class="logout navele" id="logout">
                <span class="material-symbols-outlined">
                    logout
                </span>
                <p>logout</p>
            </div>
        </div>

        <div class="maincontent">
            <div class="popular">
                <div class="cardpopular"><img class="stories" src="/stories/pexels-alejandro-aznar-155337093-30695618.jpg" alt="Post Image"></div>
                <div class="cardpopular"><img class="stories" src="/stories/pexels-alipazani-2836485.jpg" alt="Post Image"></div>
                <div class="cardpopular"><img class="stories" src="/stories/pexels-anastasia-shuraeva-4236831.jpg" alt="Post Image"></div>
                <div class="cardpopular"><img class="stories" src="/stories/pexels-cottonbro-2773494.jpg" alt="Post Image"></div>
                <div class="cardpopular"><img class="stories" src="/stories/pexels-eyupcan-timur-424989336-30675554.jpg" alt="Post Image"></div>
                <div class="cardpopular"><img class="stories" src="/stories/pexels-gabby-k-5997313.jpg" alt="Post Image"></div>
                <div class="cardpopular"><img class="stories" src="/stories/pexels-gaidar-iskakov-2149499017-30706087.jpg" alt="Post Image"></div>
                <div class="cardpopular"><img class="stories" src="/stories/pexels-karolina-grabowska-6919951.jpg" alt="Post Image"></div>
                <div class="cardpopular"><img class="stories" src="/stories/pexels-luan-albarracin-894768484-30665700.jpg" alt="Post Image"></div>
                <div class="cardpopular"><img class="stories" src="/stories/pexels-sara-kazemi-2148049458-30676580.jpg" alt="Post Image"></div>
            </div>

            <div class="recentposts">
                <div class="rpcontainer">
                    <div class="rpcard"><img class="posts" src="/posts/pexels-apgpotr-1036804.jpg" alt="Post Image">


                    </div>
                    <div class="rpcard"><img class="posts" src="/posts/pexels-buro-millennial-636760-1438072.jpg" alt="Post Image"></div>
                </div>
                <div class="rpcontainer">
                    <div class="rpcard"><img class="posts" src="/posts/pexels-olly-920382.jpg" alt="Post Image"></div>
                    <div class="rpcard"><img class="posts" src="/posts/pexels-olly-3772621.jpg" alt="Post Image"></div>
                </div>
                <div class="rpcontainer">
                    <div class="rpcard"><img class="posts" src="/posts/pexels-olly-3783527.jpg" alt="Post Image"></div>
                    <div class="rpcard"><img class="posts" src="/posts/pexels-pacofdezsaura-802024.jpg" alt="Post Image"></div>
                </div>
                <div class="rpcontainer">
                    <div class="rpcard"><img class="posts" src="/posts/pexels-pixabay-159395.jpg" alt="Post Image"></div>
                    <div class="rpcard"><img class="posts" src="/posts/pexels-vinicius-wiesehofer-289347-1090393.jpg" alt="Post Image"></div>
                </div>
            </div>
        </div>
        
        <div class="friends">
            <div class="fsearch">
                <input class="search2" type="text" placeholder="Search">
                <div class="material-symbols-outlined" id="searchicon2">search</div>
            </div>
            <br>
            <p>friends</p>
            <hr>
            <div class="flistdiv">
                <div class="friendslist">Olivia Bennett</div>
                <div class="friendslist">James Harrison</div>
                <div class="friendslist">Emily Carter</div>
                <div class="friendslist">Alexander Lee</div>
                <div class="friendslist">Sophia Davis</div>
                <div class="friendslist">Benjamin Turner</div>
                <div class="friendslist">Mia Robinson</div>
                <div class="friendslist">William Brooks</div>
                <div class="friendslist">Isabella Walker</div>
                <div class="friendslist">Samuel Clark</div>
                <div class="friendslist">Ava King</div>
                <div class="friendslist">Matthew Adams</div>
                <div class="friendslist">Charlotte Moore</div>
                <div class="friendslist">Ethan Phillips</div>
                <div class="friendslist">Grace Mitchell</div>
                <div class="friendslist">Daniel Young</div>
                <div class="friendslist">Lily Evans</div>
                <div class="friendslist">Michael Scott</div>
                <div class="friendslist">Hannah Parker</div>
                <div class="friendslist">Thomas Gray</div>
                <div class="friendslist">Zoe Harris</div>
                <div class="friendslist">Jack Collins</div>
                <div class="friendslist">Ella Anderson</div>
                <div class="friendslist">Lucas Ramirez</div>
                <div class="friendslist">Chloe Morgan</div>
            </div>
        </div>
    </div>

    <div>
        <% for (let post of posts) { %>
            <%= post.name %> posted <br>
            <%= post.comment %>
            <%= post.id %>
            <a href="http://localhost:8080/quora/view/<%= post.id %>">View post in detail</a>
            <a href="http://localhost:8080/quora/<%= post.id %>/edit">Edit post</a>
            <br><br><br>
        <% } %>
    </div>
</body>
</html>
