<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Quora</h1>
    <%for (let post of posts){%>
    
    <div>
        <%=post.name%> posted <br>
        <%=post.comment%>
        <%=post.id %>
        <a href="http://localhost:8080/quora/view/<%=post.id%>">view post in detail</a>
        <a href="http://localhost:8080/quora/<%=post.id%>/edit">Edit post</a>
  <br><br><br>
    </div>

    <% }%>
    <a href="http://localhost:8080/quora/new">create new post</a>
   
</body>
</html>